/**
 * ALL LARGE views imported.
 * Media query breakpoint is managed at the app.scss level.
 */

html {
	font-size: base-font-size;
	min-height: 100%;
}

// VIEWS
@import "main/_lrg";
@import "pages/index/_lrg";
@import "pages/about/_lrg";