/**
 * ALL SMALL views imported.
 * Media query breakpoint is managed at the app.styl level.
 */

html {
	font-size: small-font-size;
}

// VIEWS
@import "main/_sml";
@import "pages/index/_sml";
@import "pages/about/_sml";