/** Here we centralize all the variables. */

/*+++ FONT SIZES +++*/

base-font-size           = 16px;

/*+++ WIDTH AND HEIGHT OF ELEMENTS +++*/

grid-cell-height         = 80px;   
grid-cell-width          = 80px;   

/*+++ COLORS +++*/

green                    = #36e58e; 
dark_blue                = #380bf2;
light_blue               = #549df2;
pink               		 = #e93fa3;
brown             		 = #7b4a34;
grey					 = #9e9c9c;		
	

/*+++ GRID +++*/

max_columns    			 = 12; //default - medium size
lrg_max_columns 		 = 30; //large size has 26 columns
gutter_px				 = 10px;
gutter_pc 				 = 0;
max_content_width   	 = 1492px;

/**
 * BREAKPOINTS
 * You can use these vars when you need additional 
 * breakpoints for specific cases
 */

$breakpoint_lrg 		 = max_content_width + 20;
$breakpoint_med			 = 961px;
$breakpoint_small		 = 767px;

/*+++ EASING +++*/

quad-ease-in             = cubic-bezier(0.550, 0.085, 0.680, 0.530);
cubic-ease-in            = cubic-bezier(0.550, 0.055, 0.675, 0.190);
quart-ease-in            = cubic-bezier(0.895, 0.030, 0.685, 0.220);
quint-ease-in            = cubic-bezier(0.755, 0.050, 0.855, 0.060);
sine-ease-in             = cubic-bezier(0.470, 0.000, 0.745, 0.715);
expo-ease-in             = cubic-bezier(0.950, 0.050, 0.795, 0.035);
circ-ease-in             = cubic-bezier(0.600, 0.040, 0.980, 0.335);

quad-ease-out            = cubic-bezier(0.250, 0.460, 0.450, 0.940);
cubic-ease-out           = cubic-bezier(0.215, 0.610, 0.355, 1.000);
quart-ease-out           = cubic-bezier(0.165, 0.840, 0.440, 1.000);
quint-ease-out           = cubic-bezier(0.230, 1.000, 0.320, 1.000);
sine-ease-out            = cubic-bezier(0.390, 0.575, 0.565, 1.000);
expo-ease-out            = cubic-bezier(0.190, 1.000, 0.220, 1.000);
circ-ease-out            = cubic-bezier(0.075, 0.820, 0.165, 1.000);

quad-ease-in-out         = cubic-bezier(0.455, 0.030, 0.515, 0.955);
cubic-ease-in-out        = cubic-bezier(0.645, 0.045, 0.355, 1.000);
quart-ease-in-out        = cubic-bezier(0.770, 0.000, 0.175, 1.000);
quint-ease-in-out        = cubic-bezier(0.860, 0.000, 0.070, 1.000);
sine-ease-in-out         = cubic-bezier(0.445, 0.050, 0.550, 0.950);
expo-ease-in-out         = cubic-bezier(1.000, 0.000, 0.000, 1.000);
circ-ease-in-out         = cubic-bezier(0.785, 0.135, 0.150, 0.860);